<%- model_class = Book -%>
<% if @books.size <= 0 %>
  <h3>Couldn't find what you are looking for.<h3>Maybe try a different search.
<% else %>
  <%= paginate @books %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th width="100px"/>
        <th />
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %>
        <%= render 'book', :book => book %>
      <% end %>
    </tbody>
  </table>
<% end %>